$primary-light: #6fbf73;
$primary: #4caf50;
$primary-dark: #357a38;

$secondary-light: #5393ff;
$secondary: #2979ff;
$secondary-dark: #1c54b2;

$offWhite: #e9e9e9;
$gray: #a5a5a5;
$charcoal: #373f51;
